.smallBox {
  position: relative;
  height: 220px;
}

.smallBoxTextContainer {
  position: absolute;
  top: 15%;
  right: 3%;
  color: white;
  text-align: end;
}

.smallBoxTextTitle {
  font-size: 2rem;
}

.smallBoxText {
  font-size: 1.1rem;
}

.smallBox > img {
  filter: brightness(0.8);
  height: 204px;
}

.bigBox {
  position: relative;
}

.bigBoxText {
  position: absolute;
  top: 15%;
  left: 5%;
}

.bigBox > img {
  height: 423px;
}

.smallBox img,
.bigBox img {
  width: 100%;
  object-fit: cover;
}

.productRedirectButton {
  background-color: #d9534f;
  border: none;
}

.productRedirectButton:hover {
  background-color: #a42a04;
}
