.imgContainerSize {
  width: 200px;
  height: 150px;
  border-radius: 10px;
}

.categoryHeader {
  color: gray;
}

.cartQuantityBox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantButton {
  font-size: 10px;
  background-color: green;
  box-shadow: none;
  border: 0;
}

.quantButton:hover {
  background-color: rgb(4, 140, 4);
}

@media (max-width: 767px) {
  .imgContainerSize {
    width: 150px;
    height: 100px;
  }
}
